@{
    ViewBag.Title = "About";
}

<div class="row" id="red1">
    <div class="col-md-10 col-sm-8 telo">
        <h1>O nama</h1>

        <p>
            <br> Rukometni klub Dorćol iz Beograda je sportska institucija u kojoj se po savremenim metodama i sa savremenim sredstvima pod stručnim rukovodstvom istaknutih trenera, radi na usavršavanju rukometnih talenata. <br> <br>
            R.K. "Dorćol" je osnovan isključivo u obrazovne i razvojne svrhe, a ima za cilj prikupljanje što više dece i omladine da se bave ovim sportom. U cilju povećanja takmičarske baze, uvođenjem što više dece i omladine u rukometni sport i u daljem procesu rada njihovo školovanje, usavršavanje i stvaranje potencijalnog kadra za seniorske ekipe, klub je formirao školu rukometa.U rukometnom klubu Dorćol su angažovani treneri koji imaju sve potrebne kvalifikacije za rad u rukometnom sportu. <br> <br>

            Osnovni ciljevi našeg kluba su da se stvore uslovi kako bi se o svakom detetu vodila svestrana briga i kako bi se svakom detetu omogućilo bavljenje sportom. Ovakav pristup kluba treba da bude doprinos rešavanju problema slobodnog vremena dece i omladine stvaranjem mogućnosti da ona budu umesto na ulici u sportskim dvoranama, na treninzima i takmičenjima. <br> <br> Rukovodstvo našeg kluba sprovodi široku akciju povezivanja sa direktorima, nastavničkim većima i odborima, profesorima i nastavnicima fizičkog vaspitanja u školama i dogovara se o konkretnim putevima ostvarivanja ciljeva kluba. U tom cilju su angažovani profesori i nastavnici fizičkog vaspitanja i rukometni treneri radi stvaranja i realizacije određenih programa rukometnog obrazovanja na treninzima po školama, a zatim i redovnim takmičenjima.
            <br><br>
            Kako bismo u svemu ovome uspeli pozivamo vas da nam se pridružite da zajedno stvaramo budućnost i istoriju našeg kluba!
        </p>
    </div>
    <div class="col-md-2 col-sm-4 vesti">
        <h2 style="font-family: 'MyWebFont'">Obavestenja</h2><img src="~/img/vest.png" alt="vest" class="vest">
        <img src="~/img/cestitka.jpg" alt="RKDorcol" class="cestitka">
    </div>
</div>